<% if current_user.vote == true %>
  Please confirm your vote for: <br>
  <% @exhibit.each do |entry| %>
    <%= entry.entry_code %> <br>
    <%= entry.category %> <br>
    <%= entry.entry_name %> <br>
    <%= entry.entrant_name %> <br>
    <%= entry.entrant_company %> <br> <br>

    <%= link_to "Go Back", pages_landing_path %> <br>

    <%= form_for entry do |f| %>
      <%= f.hidden_field :vote_count %>
      <%= f.submit "Confirm it" %>
    <% end %>

    <p>There's no take backsies.</p>

  <% end %>

<% elsif current_user.vote == false %>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <h1>Dude. Thanks for helping nominate an Ego-maniac!</h1>
  <p>Now put down your phone and start mingling with others.</p>


<% end %>
