<div class="wrapper center">
  <br>
  <br>

  <% if current_user.vote == true %>

    <% @exhibit.each do |entry| %>

      <div class="circle-input" id="confirm-page">
        <span class="center"><%= entry.entry_code %></span>
      </div>

      <div class="med-margin">
        <p class="red bold align-left no-margin normal">Your Selection:</p>
        <p class="bold align-left no-margin normal"><%= entry.entry_name %></p>
      </div>

      <%= form_for entry do |f| %>
        <%= f.hidden_field :vote_count %>
        <%= f.submit "Confirm it", class: 'confirm' %>
      <% end %>


      <%= link_to "Go Back", pages_landing_path, class: 'go-back' %> <br>

      <p class="italic align-left normal">There's no take backsies.</p>

    <% end %>

    <% elsif current_user.vote == false %>

    <h1 class="align-left xl thanks bold">Thanks for helping nominate an Ego-maniac!</h1>
    <p class="align-left georgia italic normal">Now put down your phone and start mingling with others.</p>

    <h1 class="align-left md top-entries">Check out the top contenders</h1>
    <hr class="red-line">
    <% @topexhibits.each do |entry| %>
      <div class="flex sm-margin">
        <div class="xl bold white outline">
          <%= entry.vote_count %>
        </div>
        <div class="closer">
          <p class="red normal bold align-left"><%= entry.entry_name %></p>

          <% if entry.entrant_company == "Columbus College of Art & Design" %>
            <p class="normal bold align-left"><%= entry.entrant_name %></p>
          <% else %>
            <p class="normal bold align-left"><%= entry.entrant_company %></p>
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>

</div>
