<!DOCTYPE html>
<html>

  <head>

    <title>SociaLoginRails</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- <%= javascript_include_tag "autocomplete-rails.js" %> -->
    <script type="text/javascript" src="/public/javascripts/autocomplete-rails.js"></script>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <% if user_signed_in? %>
      Welcome, <%= current_user.name %>! <br>
      <%= link_to "Logout", destroy_user_session_path %> <br>
    <% else %>
      2016 Columbus American Advertising Awards
    <% end %>

    <%= yield %>

    <p>Disgruntled entrants who didn't win can submit their complaints to Makeway.is</p>
    <p>This voting app was made by: MAKEWAY</p>

  </body>

</html>
