<!DOCTYPE html>
<html>

  <head>

    <title>SociaLoginRails</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "autocomplete-rails.js" %>
    <!-- <script type="text/javascript" src="/public/javascripts/autocomplete-rails.js"></script> -->
    <%= csrf_meta_tags %>

  </head>

  <body>

    <div class="center">
      <img src="<%= asset_path('AAF logo.svg') %>" alt="AAF Logo" id="aaflogo">
      <p class="bold smaller">2016 Viewers Choice Award</p>
    </div>
    <hr class="black">
    <hr class="black">

    <% if user_signed_in? %>
      <p class="align-left red bold inline uppercase smaller">Welcome, <%= current_user.name %>!<span class="align-right inline"><%= link_to "Log out", destroy_user_session_path, class: 'log-out uppercase' %></span></p>
    <% else %>
      <p class="red bold uppercase smaller">2016 Columbus American Advertising Awards</p>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" unless @skip_footer %>

  </body>

</html>
